:root{
    --primary- :#9A8174;
    --secondary- :#302A18;
    --danger- : #a50000;
    --gray-depth- :#202020;
    --gray-light- :#8B8B8B;
    --gold- :#ffffff;
    --gold-light- :#FFCB74;
    --white- :#ffffff;
    --green- :#113E21;
    --orange- :#923401;
    --info- : #088ffd;
    --blue- : #40F8FF;
    --dark- : #0000;
}