:root{
    --primary- :#000000;
    --secondary- :#8edf99;
    --danger- : #a50000;
    --gray- :#818181;
    --light- :#d4f1f1;
    --white- :#ffffff;
    --dark- :rgb(17, 14, 20);
    --info- : #088ffd;
    --blue- : #40F8FF;
}